openapi: 3.0.3
info:
  title: 메이플스토리 API
  version: 1.0.0
  contact:
    name: help_openapi@nexon.co.kr
  description: |-
    - 메이플스토리 게임 데이터는 평균 15분 후 확인 가능합니다.
    - 과거 데이터는 원하는 일자를 입력해 조회할 수 있으며, 전일 데이터는 다음날 오전 2시부터 확인할 수 있습니다. (12월 22일 데이터 조회 시, 22일 00시부터 23일 00시 사이 데이터가 조회 됩니다.)
    - 게임 콘텐츠 변경으로 ocid가 변경될 수 있습니다. ocid 기반 서비스 갱신 시 유의해 주시길 바랍니다.
    - 해당 API는 메이플스토리 한국의 데이터가 제공됩니다.
servers:
  - url: 'https://open.api.nexon.com'
tags:
  - name: User
    description: 계정 정보 조회  
  - name: Character
    description: 캐릭터 정보 조회

paths:
  /maplestory/v1/character/list:
    get:
      tags:
        - User
      summary: 캐릭터 목록 조회
      description: 계정의 보유 캐릭터 목록을 조회합니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/user/achievement:
    get:
      tags:
        - User
      summary: 업적 정보 조회
      description: 계정의 업적 정보를 조회합니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/id:
    get:
      tags:
        - Character
      summary: 캐릭터 식별자(ocid) 조회
      description: 캐릭터 식별자(ocid)를 조회합니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: character_name
          in: query
          description: 캐릭터 명
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/basic:
    get:
      tags:
        - Character
      summary: 기본 정보 조회
      description: | 
        기본 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
        - 조회된 캐릭터 외형 이미지 URL에 쿼리 파리미터를 사용하여 캐릭터 이미지의 동작이나 감정표현을 변경하실 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterBasic'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/popularity:
    get:
      tags:
        - Character
      summary: 인기도 정보 조회
      description: 인기도 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterPopularity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/stat:
    get:
      tags:
        - Character
      summary: 종합 능력치 정보 조회
      description: 종합 능력치 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterStat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/hyper-stat:
    get:
      tags:
        - Character
      summary: 하이퍼스탯 정보 조회
      description: 하이퍼스탯 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterHyperStat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/propensity:
    get:
      tags:
        - Character
      summary: 성향 정보 조회
      description: 성향 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterPropensity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/ability:
    get:
      tags:
        - Character
      summary: 어빌리티 정보 조회
      description: 어빌리티 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterAbility'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/item-equipment:
    get:
      tags:
        - Character
      summary: 장착 장비 정보 조회 (캐시 장비 제외)
      description: |-
        장착한 장비 중 캐시 장비를 제외한 나머지 장비 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
        <br>훈장 외형, 칭호 외형 정보는 2025년 1월 16일 메이플스토리 점검 이후 데이터부터 조회 가능합니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterItemEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/cashitem-equipment:
    get:
      tags:
        - Character
      summary: 장착 캐시 장비 정보 조회
      description: |-
        장착한 캐시 장비 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
        <br>장착 중인 캐시 장비의 스킬 정보는 2025년 1월 16일 메이플스토리 점검 이후 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterCashItemEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/symbol-equipment:
    get:
      tags:
        - Character
      summary: 장착 심볼 정보 조회
      description: 장착한 심볼 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterSymbolEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/set-effect:
    get:
      tags:
        - Character
      summary: 적용 세트 효과 정보 조회
      description: 적용받고 있는 세트 효과 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterSetEffect'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/beauty-equipment:
    get:
      tags:
        - Character
      summary: 장착 헤어, 성형, 피부 정보 조회
      description: 장착 중인 헤어, 성형, 피부 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterBeautyEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/android-equipment:
    get:
      tags:
        - Character
      summary: 장착 안드로이드 정보 조회
      description: 장착한 안드로이드 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterAndroidEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/pet-equipment:
    get:
      tags:
        - Character
      summary: 장착 펫 정보 조회
      description: 장착한 펫 및 펫 스킬, 장비 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterPetEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/skill:
    get:
      tags:
        - Character
      summary: 스킬 정보 조회
      description: 캐릭터 스킬과 하이퍼 스킬 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
        - name: character_skill_grade
          in: query
          description: |
            조회하고자 하는 전직 차수
            - 0: 0차 스킬 및 제로 공용스킬
            - 1: 1차 스킬
            - 1.5: 1.5차 스킬
            - 2: 2차 스킬
            - 2.5: 2.5차 스킬
            - 3: 3차 스킬
            - 4: 4차 스킬 및 제로 알파/베타 스킬
            - hyperpassive: 하이퍼 패시브 스킬
            - hyperactive: 하이퍼 액티브 스킬
            - 5: 5차 스킬
            - 6: 6차 스킬
          required: true
          schema:
            type: string
            default: "1"
            enum:
              - "0"
              - "1"
              - "1.5"
              - "2"
              - "2.5"
              - "3"
              - "4"
              - "hyperpassive"
              - "hyperactive"
              - "5"
              - "6"
            
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterSkill'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/link-skill:
    get:
      tags:
        - Character
      summary: 장착 링크 스킬 정보 조회
      description: 장착 링크 스킬 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterLinkSkill'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/vmatrix:
    get:
      tags:
        - Character
      summary:  V매트릭스 정보 조회
      description: V매트릭스 슬롯 정보와 장착한 V코어 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterVMatrix'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/hexamatrix:
    get:
      tags:
        - Character
      summary: HEXA 코어 정보 조회
      description: HEXA 매트릭스에 장착한 HEXA 코어 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterHexaMatrix'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/hexamatrix-stat:
    get:
      tags:
        - Character
      summary: HEXA 매트릭스 설정 HEXA 스탯 정보 조회
      description: HEXA 매트릭스에 설정한 HEXA 스탯 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterHexaMatrixStat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/dojang:
    get:
      tags:
        - Character
      summary: 무릉도장 최고 기록 정보 조회
      description: 캐릭터 무릉도장 최고 기록 정보를 조회합니다.
        <br>2023년 12월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDojang'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/other-stat:
    get:
      tags:
        - Character
      summary: 기타 능력치 영향 요소 정보 조회
      description: 능력치에 영향을 주는 요소 중 다른 조회에서 능력치 확인이 어려운 정보를 조회합니다.
        <br>2025년 08월 21일 데이터부터 조회할 수 있습니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterOtherStat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/ring-exchange-skill-equipment:
    get:
      tags:
        - Character
      summary: 링 익스체인지 스킬 등록 장비 조회
      description: 링 익스체인지 스킬 등록 장비를 조회합니다.
        <br>2025년 08월 21일부터 2026년 3월 18일까지의 데이터를 조회할 수 있습니다.<br>2026년 3월 19일부터는 예비 특수 반지 장착 정보 조회를 사용해주세요.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RingExchangeSkillEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /maplestory/v1/character/ring-reserve-skill-equipment:
    get:
      tags:
        - Character
      summary: 예비 특수 반지 장착 정보 조회
      description: 예비 특수 반지 장착 정보를 조회합니다.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ocid
          in: query
          description: 캐릭터 식별자
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 조회 기준일 (KST, YYYY-MM-DD)
          schema:
            type: string
            format: date      
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RingReserveSkillEquipment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

components:
  schemas:
    CharacterList:
      type: object
      properties:
        account_list:
          type: array
          description: 메이플스토리 계정 목록
          items:
            type: object
            properties:
              account_id:
                type: string
                description: 메이플스토리 계정 식별자
              character_list:
                type: array
                description: 캐릭터 목록
                items:
                  type: object
                  properties:
                    ocid:
                      type: string
                      description: 캐릭터 식별자
                    character_name: 
                      type: string
                      description: 캐릭터 명
                    world_name:
                      type: string
                      description: 월드 명
                    character_class:
                      type: string
                      description: 캐릭터 직업
                    character_level:
                      type: number
                      format: int64
                      description: 캐릭터 레벨
    Achievement:
      type: object
      properties:
        account_list:
          type: array
          description: 메이플스토리 계정 목록
          items:
            type: object
            properties:
              account_id:
                type: string
                description: 메이플스토리 계정 식별자
              achievement_achieve:
                type: array
                description: 달성 업적 정보
                items:
                  type: object
                  properties:
                    achievement_name:
                      type: string
                      description: 업적 명
                    achievement_description:
                      type: string
                      description: 업적 설명
    Character:
      type: object
      properties:
        ocid:
          type: string
          description: 캐릭터 식별자
    CharacterBasic:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        character_name: 
          type: string
          description: 캐릭터 명
        world_name:
          type: string
          description: 월드 명
        character_gender:
          type: string
          description: 캐릭터 성별
        character_class:
          type: string
          description: 캐릭터 직업
        character_class_level:
          type: string
          description: 캐릭터 전직 차수
        character_level:
          type: number
          format: int64
          description: 캐릭터 레벨
        character_exp:
          type: number
          format: int64
          description: 현재 레벨에서 보유한 경험치
        character_exp_rate:
          type: string
          description: 현재 레벨에서 경험치 퍼센트
        character_guild_name:
          type: string
          description: 캐릭터 소속 길드 명
        character_image:
          type: string
          description: |
            캐릭터 외형 이미지
            - ※ 이벤트 캐릭터인 사이타마의 경우 기본 모션만 제공되며, 쿼리 파라미터를 통한 모습 변경이 불가합니다.
            - 이펙트형 장비를 장착한 경우, 이펙트를 제외한 외형만 아바타 이미지에 적용됩니다.
            - 조회된 캐릭터 외형 이미지 URL에 쿼리 파리미터를 사용하여 캐릭터 이미지의 동작이나 감정표현을 변경하실 수 있습니다.
            - 쿼리 파라미터는 API로 조회된 URL 뒤에 물음표(?)와 "Key=value" 쌍을 입력하여 조회합니다.
            - 여러 개의 쿼리 파라미터를 전달하려면 파라미터 사이에 앰퍼샌드(&)을 추가하여 하나의 문자열로 입력합니다.
            - 액션 및 감정표현에 프레임 값("Key=value.number")을 입력하여 아바타 이미지를 프레임 별로 조회 가능합니다. (20250116 추가)
            - 게임에 설정된 무기 모션이 반영된 이미지로 조회되며, 무기 모션 파라미터로 변경하며 사용할 수 있습니다. (20251120 추가)
            - 예시: https://open.api.nexon.com/static/maplestory/character/look/ABCDEFG**?action=A00.2&emotion=E00**
            - 캐릭터 외형 이미지에 사용할 수 있는 쿼리 파라미터는 다음과 같습니다. 
              - action: 액션 (A00 ~ A41)
                - A00: stand1 (default)<br> - frame: 0 ~ 2
                - A01: stand2<br> - frame: 0 ~ 2
                - A02: walk1<br> - frame: 0 ~ 3
                - A03: walk2<br> - frame: 0 ~ 3
                - A04: prone<br> - frame: 0
                - A05: fly<br> - frame: 0 ~ 1
                - A06: jump<br> - frame: 0
                - A07: sit<br> - frame: 0
                - A08: ladder<br> - frame: 0 ~ 1
                - A09: rope<br> - frame: 0 ~ 1
                - A10: heal<br> - frame: 0 ~ 2
                - A11: alert<br> - frame: 0 ~ 2
                - A12: proneStab<br> - frame: 0 ~ 1
                - A13: swingO1<br> - frame: 0 ~ 2
                - A14: swingO2<br> - frame: 0 ~ 2
                - A15: swingO3<br> - frame: 0 ~ 2
                - A16: swingOF<br> - frame: 0 ~ 3
                - A17: swingP1<br> - frame: 0 ~ 2
                - A18: swingP2<br> - frame: 0 ~ 2
                - A19: swingPF<br> - frame: 0 ~ 3
                - A20: swingT1<br> - frame: 0 ~ 2
                - A21: swingT2<br> - frame: 0 ~ 2
                - A22: swingT3<br> - frame: 0 ~ 2
                - A23: swingTF<br> - frame: 0 ~ 3
                - A24: stabO1<br> - frame: 0 ~ 1
                - A25: stabO2<br> - frame: 0 ~ 1
                - A26: stabOF<br> - frame: 0 ~ 2
                - A27: stabT1<br> - frame: 0 ~ 2
                - A28: stabT2<br> - frame: 0 ~ 2
                - A29: stabTF<br> - frame: 0 ~ 3
                - A30: shoot1<br> - frame: 0 ~ 2
                - A31: shoot2<br> - frame: 0 ~ 4
                - A32: shootF<br> - frame: 0 ~ 2
                - A33: dead<br> - frame: 0
                - A34: ghostwalk<br> - frame: 0 ~ 3
                - A35: ghoststand<br> - frame: 0 ~ 2
                - A36: ghostjump<br> - frame: 0
                - A37: ghostproneStab<br> - frame: 0 ~ 1
                - A38: ghostladder<br> - frame: 0 ~ 1
                - A39: ghostrope<br> - frame: 0 ~ 1
                - A40: ghostfly<br> - frame: 0 ~ 1
                - A41: ghostsit<br> - frame: 0 ~ 0
              - emotion: 감정표현 (E00 ~ E24) 
                - E00: default (default)<br> - frame: 0
                - E01: wink<br> - frame: 0
                - E02: smile<br> - frame: 0
                - E03: cry<br> - frame: 0
                - E04: angry<br> - frame: 0
                - E05: bewildered<br> - frame: 0
                - E06: blink<br> - frame: 0 ~ 2
                - E07: blaze<br> - frame: 0 ~ 1
                - E08: bowing<br> - frame: 0 ~ 1
                - E09: cheers<br> - frame: 0
                - E10: chu<br> - frame: 0
                - E11: dam<br> - frame: 0 ~ 1
                - E12: despair<br> - frame: 0 ~ 1
                - E13: glitter<br> - frame: 0 ~ 1
                - E14: hit<br> - frame: 0
                - E15: hot<br> - frame: 0 ~ 1
                - E16: hum<br> - frame: 0 ~ 1
                - E17: love<br> - frame: 0 ~ 1
                - E18: oops<br> - frame: 0
                - E19: pain<br> - frame: 0
                - E20: troubled<br> - frame: 0
                - E21: qBlue<br> - frame: 0
                - E22: shine<br> - frame: 0
                - E23: stunned<br> - frame: 0
                - E24: vomit<br> - frame: 0 ~ 1
              - wmotion: 무기 모션 (W00 ~ W04)
                - W00: 기본 모션 (default, 무기 타입에 따른 모션)
                - W01: 한손 모션
                - W02: 두손 모션
                - W03: 건 모션
                - W04: 무기 제외
        character_date_create:
          type: string
          description: 캐릭터 생성일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        access_flag:
          type: string
          description: 최근 7일간 접속 여부 (true 접속, false 미접속)
        liberation_quest_clear:
          type: string
          description: 해방 퀘스트 완료 여부 (0:미완료, 1:제네시스 무기 해방, 2:데스티니 무기 1차 해방, 3:데스티니 무기 2차 초월)
          
    CharacterPopularity:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        popularity:
          type: number
          format: int64
          description: 캐릭터 인기도
    CharacterStat:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        character_class:
          type: string
          description: 캐릭터 직업
        final_stat:
          type: array
          description: 현재 스탯 정보
          items:
            type: object
            properties:
              stat_name:
                type: string
                description: 스탯 명
                example: "최소 스탯 공격력"
              stat_value:
                type: string
                description: 스탯 값
                example: "43.75"
        remain_ap:
          type: number
          format: int64
          description: 잔여 AP
    CharacterHyperStat:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        character_class:
          type: string
          description: 캐릭터 직업
        use_preset_no:
          type: string
          description: 적용 중인 프리셋 번호
        use_available_hyper_stat:
          type: number
          format: int64
          description: 사용 가능한 최대 하이퍼스탯 포인트
        hyper_stat_preset_1:
          type: array
          description: 1번 프리셋 하이퍼 스탯 정보
          items:
            type: object
            properties:
              stat_type:
                type: string
                description: 스탯 종류
              stat_point:
                type: number
                format: int64
                description: 스탯 투자 포인트
              stat_level:
                type: number
                format: int64
                description: 스탯 레벨
              stat_increase:
                type: string
                description: 스탯 상승량
        hyper_stat_preset_1_remain_point:
          type: number
          format: int64
          description: 1번 프리셋 하이퍼 스탯 잔여 포인트
        hyper_stat_preset_2:
          type: array
          description: 2번 프리셋 하이퍼 스탯 정보
          items:
            type: object
            properties:
              stat_type:
                type: string
                description: 스탯 종류
              stat_point:
                type: number
                format: int64
                description: 스탯 투자 포인트
              stat_level:
                type: number
                format: int64
                description: 스탯 레벨
              stat_increase:
                type: string
                description: 스탯 상승량
        hyper_stat_preset_2_remain_point:
          type: number
          format: int64
          description: 2번 프리셋 하이퍼 스탯 잔여 포인트
        hyper_stat_preset_3:
            type: array
            description: 3번 프리셋 하이퍼 스탯 정보
            items:
              type: object
              properties:
                stat_type:
                  type: string
                  description: 스탯 종류
                stat_point:
                  type: number
                  format: int64
                  description: 스탯 투자 포인트
                stat_level:
                  type: number
                  format: int64
                  description: 스탯 레벨
                stat_increase:
                  type: string
                  description: 스탯 상승량
        hyper_stat_preset_3_remain_point:
          type: number
          format: int64
          description: 3번 프리셋 하이퍼 스탯 잔여 포인트
    CharacterPropensity:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        charisma_level:
          type: number
          format: int64
          description: 카리스마 레벨
        sensibility_level:
          type: number
          format: int64
          description: 감성 레벨
        insight_level:
          type: number
          format: int64
          description: 통찰력 레벨
        willingness_level:
          type: number
          format: int64
          description: 의지 레벨
        handicraft_level:
          type: number
          format: int64
          description: 손재주 레벨
        charm_level:
          type: number
          format: int64
          description: 매력 레벨
    CharacterAbility:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        ability_grade:
          type: string
          description: 어빌리티 등급
        ability_info:
          type: array
          description: 어빌리티 정보
          items:
            type: object
            properties:
              ability_no:
                type: string
                description: 어빌리티 번호
              ability_grade:
                type: string
                description: 어빌리티 등급
              ability_value:
                type: string
                description: 어빌리티 옵션 및 수치
        remain_fame:
          type: number
          format: int64
          description: 보유 명성치
        preset_no: 
          type: number
          format: int64
          description: 적용 중인 어빌리티 프리셋 번호(number)
        ability_preset_1: 
          type: object
          description: 어빌리티 1번 프리셋 전체 정보  
          properties:
            ability_preset_grade:
              type: string
              description: 어빌리티 1번 프리셋의 어빌리티 등급  
            ability_info:
              type: array
              description: 어빌리티 1번 프리셋 정보
              items:
                type: object 
                properties:
                  ability_no: 
                    type: string 
                    description: 어빌리티 번호  
                  ability_grade: 
                    type: string 
                    description: 어빌리티 등급    
                  ability_value: 
                    type: string 
                    description: 어빌리티 옵션 및 수치      
        ability_preset_2: 
          type: object
          description: 어빌리티 2번 프리셋 전체 정보  
          properties:
            ability_preset_grade:
              type: string
              description: 어빌리티 2번 프리셋의 어빌리티 등급  
            ability_info:
              type: array
              description: 어빌리티 2번 프리셋 정보
              items:
                type: object 
                properties:
                  ability_no: 
                    type: string 
                    description: 어빌리티 번호  
                  ability_grade: 
                    type: string 
                    description: 어빌리티 등급    
                  ability_value: 
                    type: string 
                    description: 어빌리티 옵션 및 수치      
        ability_preset_3: 
          type: object
          description: 어빌리티 3번 프리셋 전체 정보  
          properties:
            ability_preset_grade:
              type: string
              description: 어빌리티 3번 프리셋의 어빌리티 등급  
            ability_info:
              type: array
              description: 어빌리티 3번 프리셋 정보
              items:
                type: object 
                properties:
                  ability_no: 
                    type: string 
                    description: 어빌리티 번호  
                  ability_grade: 
                    type: string 
                    description: 어빌리티 등급    
                  ability_value: 
                    type: string 
                    description: 어빌리티 옵션 및 수치                  
    CharacterItemEquipment:
      type: object
      properties:
        date:
          type: string
          description: 조회 기준일 (KST, 일 단위 데이터로 시, 분은 일괄 0으로 표기)
          example: "2023-12-21T00:00+09:00"
        character_gender:
          type: string
          description: 캐릭터 성별
        character_class:
          type: string
          description: 캐릭터 직업
        preset_no:
          type: number
          format: int64
          description: 적용 중인 장비 프리셋 번호(number)
        item_equipment:
          type: array
          description: 장비 정보
          items:
            type: object
            properties:
              item_equipment_part:
                type: string
                description: 장비 부위 명
              item_equipment_slot:
                type: string
                description: 장비 슬롯 위치
              item_name:
                type: string
                description: 장비 명
              item_icon:
                type: string
                description: 장비 아이콘
              item_description:
                type: string
                description: 장비 설명
              item_shape_name:
                type: string
                description: 장비 외형
              item_shape_icon:
                type: string
                description: 장비 외형 아이콘
              item_gender:
                type: string
                description: 전용 성별
              item_total_option:
                type: object
                description: 장비 최종 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
              item_base_option:
                type: object
                description: 장비 기본 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
                  base_equipment_level:
                    type: number
                    format: int64
                    description: 기본 착용 레벨
              potential_option_flag:
                type: string
                description: 잠재능력 봉인 여부 (true 봉인, false 봉인 없음)
              additional_potential_option_flag:
                type: string
                description: 에디셔널 잠재능력 봉인 여부 (true 봉인, false 봉인 없음)
              potential_option_grade:
                type: string
                description: 잠재능력 등급
              additional_potential_option_grade:
                type: string
                description: 에디셔널 잠재능력 등급
              soul_potential_grade:
                type: string
                description: 소울 잠재능력 등급
              soul_potential_amplified_grade:
                type: integer
                format: int64
                description: 소울 증폭 단계
              potential_option_1:
                type: string
                description: 잠재능력 첫 번째 옵션
              potential_option_2:
                type: string
                description: 잠재능력 두 번째 옵션
              potential_option_3:
                type: string
                description: 잠재능력 세 번째 옵션
              additional_potential_option_1:
                type: string
                description: 에디셔널 잠재능력 첫 번째 옵션
              additional_potential_option_2:
                type: string
                description: 에디셔널 잠재능력 두 번째 옵션
              additional_potential_option_3:
                type: string
                description: 에디셔널 잠재능력 세 번째 옵션
              soul_potential_option_1:
                type: string
                description: 소울 잠재능력 첫 번째 옵션
              soul_potential_option_2:
                type: string
                description: 소울 잠재능력 두 번째 옵션
              soul_potential_option_3:
                type: string
                description: 소울 잠재능력 세 번째 옵션
              equipment_level_increase:
                type: number
                format: int64
                description: 착용 레벨 증가
              item_exceptional_option:
                type: object
                description: 장비 특별 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  exceptional_upgrade:
                    type: number
                    format: int64
                    description: 익셉셔널 강화 적용 횟수             
              item_add_option:
                type: object
                description: 장비 추가 옵션
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
              growth_exp:
                type: number
                format: int64
                description: 성장 경험치
              growth_level:
                type: number
                format: int64
                description: 성장 레벨
              scroll_upgrade:
                type: string
                description: 주문서 횟수
              cuttable_count:
                type: string
                description: 가위 사용 가능 횟수 (교환 불가 장비, 가위 횟수가 없는 교환 가능 장비는 255)
              golden_hammer_flag:
                type: string
                description: 황금 망치 재련 적용 (1:적용, 이외 미 적용)
              scroll_resilience_count:
                type: string
                description: 복구 가능 횟수
              scroll_upgradable_count:
                type: string
                description: 주문서 잔여 횟수
              soul_name:
                type: string
                description: 소울 명
              soul_option:
                type: string
                description: 소울 옵션
              soul_pad:
                type: string
                description: 소울 공격력 증가 옵션
              soul_mad:
                type: string
                description: 소울 마력 증가 옵션
              soul_active:
                type: string
                description: 소울 활성 여부 (0:비활성, 1:활성)
              item_etc_option:
                type: object
                description: 장비 기타 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
              starforce:
                type: string
                description: 강화 단계 
              starforce_scroll_flag:
                type: string
                description: 놀라운 장비 강화 주문서 사용 여부 (0:미사용, 1:사용)
              item_starforce_option:
                type: object
                description: 장비 스타포스 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
              special_ring_level:
                type: number
                format: int64
                description: 특수 반지 레벨
              date_expire:
                type: string
                description: 장비 유효 기간 (expired:만료, null:무제한) (KST)
                example: "2023-12-21T17:28+09:00"
              freestyle_flag:
                type: string
                description: 프리스타일 쿠폰 적용 여부 (0:미적용, 1:적용)
        item_equipment_preset_1:
          type: array
          description: 1번 프리셋 장비 정보
          items:
            type: object
            properties:
              item_equipment_part:
                type: string
                description: 장비 부위 명
              equipment_slot:
                type: string
                description: 장비 슬롯 위치
              item_name:
                type: string
                description: 장비 명
              item_icon:
                type: string
                description: 장비 아이콘
              item_description:
                type: string
                description: 장비 설명
              item_shape_name:
                type: string
                description: 장비 외형
              item_shape_icon:
                type: string
                description: 장비 외형 아이콘
              item_gender:
                type: string
                description: 전용 성별
              item_total_option:
                type: object
                description: 장비 최종 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
              item_base_option:
                type: object
                description: 장비 기본 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
                  base_equipment_level:
                    type: number
                    format: int64
                    description: 기본 착용 레벨
              potential_option_grade:
                type: string
                description: 잠재능력 등급
              additional_potential_option_grade:
                type: string
                description: 에디셔널 잠재능력 등급
              soul_potential_grade:
                type: string
                description: 소울 잠재능력 등급
              soul_potential_amplified_grade:
                type: integer
                format: int64
                description: 소울 증폭 단계
              potential_option_1:
                type: string
                description: 잠재능력 첫 번째 옵션
              potential_option_2:
                type: string
                description: 잠재능력 두 번째 옵션
              potential_option_3:
                type: string
                description: 잠재능력 세 번째 옵션
              additional_potential_option_1:
                type: string
                description: 에디셔널 잠재능력 첫 번째 옵션
              additional_potential_option_2:
                type: string
                description: 에디셔널 잠재능력 두 번째 옵션
              additional_potential_option_3:
                type: string
                description: 에디셔널 잠재능력 세 번째 옵션
              soul_potential_option_1:
                type: string
                description: 소울 잠재능력 첫 번째 옵션
              soul_potential_option_2:
                type: string
                description: 소울 잠재능력 두 번째 옵션
              soul_potential_option_3:
                type: string
                description: 소울 잠재능력 세 번째 옵션
              equipment_level_increase:
                type: number
                format: int64
                description: 착용 레벨 증가
              item_exceptional_option:
                type: object
                description: 장비 특별 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  exceptional_upgrade:
                    type: number
                    format: int64
                    description: 익셉셔널 강화 적용 횟수                       
              item_add_option:
                type: object
                description: 장비 추가 옵션
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
              growth_exp:
                type: number
                format: int64
                description: 성장 경험치
              growth_level:
                type: number
                format: int64
                description: 성장 레벨
              scroll_upgrade:
                type: string
                description: 주문서 횟수
              cuttable_count:
                type: string
                description: 가위 사용 가능 횟수 (교환 불가 장비, 가위 횟수가 없는 교환 가능 장비는 255)
              golden_hammer_flag:
                type: string
                description: 황금 망치 재련 적용 (1:적용, 이외 미 적용)
              scroll_resilience_count:
                type: string
                description: 복구 가능 횟수
              scroll_upgradable_count:
                type: string
                description: 주문서 잔여 횟수
              soul_name:
                type: string
                description: 소울 명
              soul_option:
                type: string
                description: 소울 옵션
              soul_pad:
                type: string
                description: 소울 공격력 증가 옵션
              soul_mad:
                type: string
                description: 소울 마력 증가 옵션
              soul_active:
                type: string
                description: 소울 활성 여부 (0:비활성, 1:활성)
              item_etc_option:
                type: object
                description: 장비 기타 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
              starforce:
                type: string
                description: 강화 단계 
              starforce_scroll_flag:
                type: string
                description: 놀라운 장비 강화 주문서 사용 여부 (0:미사용, 1:사용)
              item_starforce_option:
                type: object
                description: 장비 스타포스 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
              special_ring_level:
                type: number
                format: int64
                description: 특수 반지 레벨
              date_expire:
                type: string
                description: 장비 유효 기간 (expired:만료, null:무제한) (KST)
                example: "2023-12-21T17:28+09:00"
              freestyle_flag:
                type: string
                description: 프리스타일 쿠폰 적용 여부 (0:미적용, 1:적용)
        item_equipment_preset_2:
          type: array
          description: 2번 프리셋 장비 정보
          items:
            type: object
            properties:
              item_equipment_part:
                type: string
                description: 장비 부위 명
              equipment_slot:
                type: string
                description: 장비 슬롯 위치
              item_name:
                type: string
                description: 장비 명
              item_icon:
                type: string
                description: 장비 아이콘
              item_description:
                type: string
                description: 장비 설명
              item_shape_name:
                type: string
                description: 장비 외형
              item_shape_icon:
                type: string
                description: 장비 외형 아이콘
              item_gender:
                type: string
                description: 전용 성별
              item_total_option:
                type: object
                description: 장비 최종 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
              item_base_option:
                type: object
                description: 장비 기본 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
                  base_equipment_level:
                    type: number
                    format: int64
                    description: 기본 착용 레벨
              potential_option_grade:
                type: string
                description: 잠재능력 등급
              additional_potential_option_grade:
                type: string
                description: 에디셔널 잠재능력 등급
              soul_potential_grade:
                type: string
                description: 소울 잠재능력 등급
              soul_potential_amplified_grade:
                type: integer
                format: int64
                description: 소울 증폭 단계
              potential_option_1:
                type: string
                description: 잠재능력 첫 번째 옵션
              potential_option_2:
                type: string
                description: 잠재능력 두 번째 옵션
              potential_option_3:
                type: string
                description: 잠재능력 세 번째 옵션
              additional_potential_option_1:
                type: string
                description: 에디셔널 잠재능력 첫 번째 옵션
              additional_potential_option_2:
                type: string
                description: 에디셔널 잠재능력 두 번째 옵션
              additional_potential_option_3:
                type: string
                description: 에디셔널 잠재능력 세 번째 옵션
              soul_potential_option_1:
                type: string
                description: 소울 잠재능력 첫 번째 옵션
              soul_potential_option_2:
                type: string
                description: 소울 잠재능력 두 번째 옵션
              soul_potential_option_3:
                type: string
                description: 소울 잠재능력 세 번째 옵션
              equipment_level_increase:
                type: number
                format: int64
                description: 착용 레벨 증가
              item_exceptional_option:
                type: object
                description: 장비 특별 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  exceptional_upgrade:
                    type: number
                    format: int64
                    description: 익셉셔널 강화 적용 횟수                       
              item_add_option:
                type: object
                description: 장비 추가 옵션
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
              growth_exp:
                type: number
                format: int64
                description: 성장 경험치
              growth_level:
                type: number
                format: int64
                description: 성장 레벨
              scroll_upgrade:
                type: string
                description: 주문서 횟수
              cuttable_count:
                type: string
                description: 가위 사용 가능 횟수 (교환 불가 장비, 가위 횟수가 없는 교환 가능 장비는 255)
              golden_hammer_flag:
                type: string
                description: 황금 망치 재련 적용 (1:적용, 이외 미 적용)
              scroll_resilience_count:
                type: string
                description: 복구 가능 횟수
              scroll_upgradable_count:
                type: string
                description: 주문서 잔여 횟수
              soul_name:
                type: string
                description: 소울 명
              soul_option:
                type: string
                description: 소울 옵션
              soul_pad:
                type: string
                description: 소울 공격력 증가 옵션
              soul_mad:
                type: string
                description: 소울 마력 증가 옵션
              soul_active:
                type: string
                description: 소울 활성 여부 (0:비활성, 1:활성)
              item_etc_option:
                type: object
                description: 장비 기타 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
              starforce:
                type: string
                description: 강화 단계 
              starforce_scroll_flag:
                type: string
                description: 놀라운 장비 강화 주문서 사용 여부 (0:미사용, 1:사용)
              item_starforce_option:
                type: object
                description: 장비 스타포스 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
              special_ring_level:
                type: number
                format: int64
                description: 특수 반지 레벨
              date_expire:
                type: string
                description: 장비 유효 기간 (expired:만료, null:무제한) (KST)
                example: "2023-12-21T17:28+09:00"
              freestyle_flag:
                type: string
                description: 프리스타일 쿠폰 적용 여부 (0:미적용, 1:적용)
        item_equipment_preset_3:
          type: array
          description: 3번 프리셋 장비 정보
          items:
            type: object
            properties:
              item_equipment_part:
                type: string
                description: 장비 부위 명
              equipment_slot:
                type: string
                description: 장비 슬롯 위치
              item_name:
                type: string
                description: 장비 명
              item_icon:
                type: string
                description: 장비 아이콘
              item_description:
                type: string
                description: 장비 설명
              item_shape_name:
                type: string
                description: 장비 외형
              item_shape_icon:
                type: string
                description: 장비 외형 아이콘
              item_gender:
                type: string
                description: 전용 성별
              item_total_option:
                type: object
                description: 장비 최종 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
                  max_mp:
                    type: string
                    description: 최대 MP
                  attack_power:
                    type: string
                    description: 공격력
                  magic_power:
                    type: string
                    description: 마력
                  armor:
                    type: string
                    description: 방어력
                  speed:
                    type: string
                    description: 이동속도
                  jump:
                    type: string
                    description: 점프력
                  boss_damage:
                    type: string
                    description: 보스 몬스터 데미지 증가(%)
                  ignore_monster_armor:
                    type: string
                    description: 몬스터 방어율 무시(%)
                  all_stat:
                    type: string
                    description: 올스탯(%)
                  damage:
                    type: string
                    description: 데미지(%)
                  equipment_level_decrease:
                    type: number
                    format: int64
                    description: 착용 레벨 감소
                  max_hp_rate:
                    type: string
                    description: 최대 HP(%)
                  max_mp_rate:
                    type: string
                    description: 최대 MP(%)
              item_base_option:
                type: object
                description: 장비 기본 옵션 정보
                properties:
                  str:
                    type: string
                    description: STR
                  dex:
                    type: string
                    description: DEX
                  int:
                    type: string
                    description: INT
                  luk:
                    type: string
                    description: LUK
                  max_hp:
                    type: string
                    description: 최대 HP
[...]
